
/* SIX (6) steps for smoothly expanding/collapsing parent + child */

          /* PARENT classes */

.remBody {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
  background-color: #e6e6e6;
  border: 1px solid #404040;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .2);
  transition: all 0.7s linear; /* 1) give base parent class a transition prop */
  min-width: 300px;
}
.remBody > p {
  margin: 0.25rem;
}
.remBodyRed {
  background-color: #ffcccc;
  border: 1px solid #990000;
}
.remBodyYel {
  background-color: #ffffcc;
  border: 1px solid #808000;
}
.remBodyGrn {
  background-color: #ccffcc;
  border: 1px solid #006600;
}

.parentOpenSlide { /* 2) class selectively applies to parent when child is open, sets width (so parent can widen smoothly) */
  max-width: 50%;
}
.parentClosedSlide { /* 3) class selectively applies to parent when child is closed, sets width (so parent can narrow smoothly) */
  max-width: 30%;
}

          /* CHILD (slider menu) classes */

.slideDefaults {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  transition: all 0.7s linear;  /* 4) give base child class a transition prop */
}
.slideDefaults > p {
  margin: 0.15rem;
}
.showSlide { /* 5) class selectively applies to child when it's open (sets max-height, max-width and overflow-y: scroll) */
  white-space: pre-wrap;
  max-height: 450px;
  max-width: 100%;
  overflow-y: scroll;
}
.hideSlide { /* 6) class selectively applies to child when it's closed (sets max-height, max-width to 0 and overflow: hidden)  */
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}

          /* OTHER classes */

.fieldName {
  font-weight: bold;
}
.butnHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconButn {
  font-size: 1.5rem;
  margin-right: 1rem;
  padding: 0.25rem;
}
.iconButn:hover {
  color: #0000ff;
  cursor: pointer;
  transform: scale(1.2);
}
.myHr {
  width: 100%;
}
.dottedHr {
  width: 90%;
  border-top: 5px dotted #4d4d4d;
}
